<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading">Core</div>
        <%= link_to dashboard_url, class: "nav-link" do %>
          <div class="sb-nav-link-icon">
            <i class="fas fa-tachometer-alt"></i></div>Dashboard</a>
      <% end %>
      </div>
    </div>
    <div class="sb-sidenav-footer">
      <div class="small">Número da Conta:</div>
      <%= current_user&.account_number %>
    </div>
  </nav>
</div>
